<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <button type="button" class="btn-xs float-right" data-toggle="tooltip" data-placement="top" title="Back"
              (click)="_location.back()">
              <i class="material-icons">arrow_back</i>
            </button>
            <h4 class="card-title ">{{websiteConstants.newFeatures}}</h4>
          </div>
          <div class="card-body">
            <dl class="row">
              <dt class="col-sm-3">Pre-Approval Based Entry</dt>
              <dd class="col-sm-9">
                <p>The host can approve their visitor's entry before their guest enters to the company premises. This
                  unique feature helps the host to approve visitor entry as quickly reducing the waiting time at the
                  reception area. This allows check-ins without any hassle.</p>
              </dd>
            </dl>
            <dl class="row">
              <dt class="col-sm-3">Social Login</dt>
              <dd class="col-sm-9">
                <p>Our visitor management software is integrated with google which allows hosts to log-in through their
                  G-mail account. This ultimate feature will allow you to easily register yourself via safe and secure
                  Google authorization/verification.</p>
              </dd>
            </dl>
            <dl class="row">
              <dt class="col-sm-3">Employee Registration and Login</dt>
              <dd class="col-sm-9">
                <p>The company employees are required to register themselves for the first time and after that, they can
                  log-in easily to approve or disapprove their visitor’s entry. This will also give host the facility of
                  pre-approving their guest's entry even before their arrival at the location.</p>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>