<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a target="_blank" href="https://www.viztors.com/">
                        Viztors
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.viztors.com/features/">
                        About Us
                    </a>
                </li>
                <li>
                    <a target="_blank" href="mailto:support@viztors.com">
                        Support
                    </a>
                </li>
                <!-- <li>
                    <a href="http://blog.creative-tim.com">
                        Blog
                    </a>
                </li> -->
                <!-- <li>
                    <a href="https://www.creative-tim.com/license">
                        Licenses
                    </a>
                </li> -->
            </ul>
        </nav>
        <div class="pull-right">
            <img id="Viztors" alt="Viztors" class="pull-right" title="Viztors" src="./assets/img/logo.png" width="20%"
                height="10%">
        </div>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, Powered by
            <a> Viztors </a>
        </div>
    </div>
</footer>