* {
  font-weight: 500 !important;
}
.holder {
  background-color: #ccc;
  width: 100%;
  height: 500px;
  overflow: hidden;
  padding: 10px;
  font-family: Helvetica;
}
.holder .mask {
  position: relative;
  left: 0px;
  top: 10px;
  width: 300px;
  height: 240px;
  overflow: hidden;
}
.holder ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.holder ul li {
  padding: 10px 0px;
}
.holder ul li a {
  color: darkred;
  text-decoration: none;
}
.logo-new {
  /* padding: 45px 0px !important; */
  display: block;
  width: 120px;
  height: 80px;
  margin: 0 auto;
  z-index: 9999;
}
.img-new {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
